extends layout

block content 
	h2 Update user
	form(method="post", action="/updateUser")
		input(type="hidden", name="_id", value=user._id)
		input(type="hidden", name="_method", value="put")
		.form-group
			label(for="username") Username:
			input(type="text", name="username", value=user.username).form-control
		.form-group
			label(for="firstName") First name:
			input(type="text", name="firstName", value=user.name.first).form-control
		.form-group
			label(for="lastName") Last name:
			input(type="text", name="lastName", value=user.name.last).form-control
		.form-group
			input(type="submit", value="Update user").btn.btn-success
			| 
			a(href="/").btn.btn-default Cancel